<div class="mt-4">
	<h3>Cap nhat khoa hoc</h3>
	<form method="POST" action="/courses/{{course._id}}?_method=PUT">
		<div class="mb-3">
			<label for="name" class="form-label">Ten khoa hoc</label>
			<input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
		</div>

		<div class="mb-3">
			<label for="description" class="form-label">Mo ta</label>
			<textarea class="form-control"  id="description" name="description">{{course.description}}"</textarea>
		</div>

		<div class="mb-3">
			<label for="videoId" class="form-label">video ID</label>
			<input type="text" class="form-control" value="{{course.videoId}}" id="videoId" name="videoId">
		</div>
		
		<button type="submit" class="btn btn-primary">Luu lai</button>
	</form>
</div>